.sidbar{
    background: #150a53a2;
}

.nav-link{
    color: white;
}

.side{
    background: #000011f5;
}
li,a,.d{
    color: white!important;
}

.in{
    background: blue;
}
.out{
    background: green;
}
.light{
    color: white!important;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }