{% extends "base.html.twig" %}
{% block body %}

<div class="card-inner">
<div class="title">
    <h4 class="text-danger">
        Ajout client:
    </h4>
    <hr class="text-danger mb-4">
</div>
    {{form(form)}}

</div>

{% endblock %}
